@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    display: flex;
    max-width: 1300px;
}

.main-logo {
    width: 100vw;
    height: 70vh;
    background-image: url(../Css/logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.item-logo-txt {
    padding: 30px;
    border: 1px solid gold;
    border-radius: 5px;
    font-size: 35px;
    color: gold;
    left: 16vw;
    top: 80px;
    position: relative;
}

.main-info {
    height: 35vh;
    width: 100vw;
    margin-bottom: 50px;
    background-color: black;
    color: gold;
}

.item-title-txt {
    font-size: 30px;
    text-align: center;
    padding-top: 20px;

}

.item-info-txt {
    text-align: center;
    font-size: 18px;
}

@media (min-width:360px) {
    body {
        width: 100%;
    }

    .main-logo {
        width: 100vw;
        height: 50vh;
    }

    .item-logo-txt {
        padding: 5px;
        border: 1px solid gold;
        border-radius: 5px;
        font-size: 13px;
        left: 3vw;
        top: 80px;
    }

    .main-info {
        height: 30vh;
    }

    .item-title-txt {
        font-size: 15px;
        padding-top: 0px;

    }

    .item-info-txt {
        text-align: center;
        font-size: 10px;
    }
}

@media (min-width:400px) {
    .item-logo-txt {
        padding: 5px;
        font-size: 15px;
        left: 4vw;
        top: 80px;
    }

    .main-info {
        height: 30vh;
    }

    .item-title-txt {
        font-size: 16px;
    }

    .item-info-txt {
        font-size: 13px;
    }
}

@media (min-width:450px) {

    .main-logo {
        width: 100vw;
        height: 50vh;
    }

    .item-logo-txt {
        padding: 5px;
        font-size: 17px;
        left: 2vw;
        top: 80px;
    }

    .main-info {
        height: 30vh;
    }

    .item-title-txt {
        font-size: 22px;
    }

    .item-info-txt {
        font-size: 13px;
    }
}

@media (min-width:500px) {

    .main-logo {
        width: 100vw;
        height: 50vh;
    }

    .item-logo-txt {
        padding: 5px;
        font-size: 19px;
        left: 4vw;
        top: 80px;
    }

    .main-info {
        height: 30vh;
    }

    .item-title-txt {
        font-size: 22px;
    }

    .item-info-txt {
        font-size: 16px;
    }
}

@media (min-width:550px) {

    .main-logo {
        width: 100vw;
        height: 50vh;
    }

    .item-logo-txt {
        padding: 5px;
        font-size: 22px;
        left: 1vw;
        top: 80px;
    }

    .main-info {
        height: 30vh;
    }

    .item-title-txt {
        font-size: 24px;
    }

    .item-info-txt {
        font-size: 16px;
    }
}

@media (min-width:600px) {

    .main-logo {
        width: 100vw;
        height: 50vh;
    }

    .item-logo-txt {
        padding: 5px;
        font-size: 24px;
        left: 1vw;
        top: 80px;
    }

    .main-info {
        height: 30vh;
    }

    .item-title-txt {
        font-size: 25px;
    }

    .item-info-txt {
        font-size: 17px;
    }
}

@media (min-width:650px) {

    .main-logo {
        width: 100vw;
        height: 50vh;
    }

    .item-logo-txt {
        padding: 5px;
        font-size: 26px;
        left: 1vw;
        top: 80px;
    }

    .main-info {
        height: 30vh;
    }

    .item-title-txt {
        font-size: 25px;
    }

    .item-info-txt {
        font-size: 17px;
    }
}

@media (min-width:700px) {

    .main-logo {
        width: 100vw;
        height: 50vh;
    }

    .item-logo-txt {
        padding: 5px;
        font-size: 25px;
        left: 7vw;
        top: 80px;
    }

    .main-info {
        height: 30vh;
    }

    .item-title-txt {
        font-size: 25px;
    }

    .item-info-txt {
        font-size: 18px;
    }
}

@media (min-width:750px) {

    .main-logo {
        width: 100vw;
        height: 50vh;
    }

    .item-logo-txt {
        padding: 5px;
        font-size: 25px;
        left: 10vw;
        top: 80px;
    }

    .main-info {
        height: 30vh;
    }

    .item-title-txt {
        font-size: 25px;
    }

    .item-info-txt {
        font-size: 18px;
    }
}

@media (min-width:800px) {

    .main-logo {
        width: 100vw;
        height: 50vh;
    }

    .item-logo-txt {
        padding: 5px;
        font-size: 27px;
        left: 9vw;
        top: 80px;
    }

    .main-info {
        height: 30vh;
    }

    .item-title-txt {
        font-size: 25px;
    }

    .item-info-txt {
        font-size: 18px;
    }
}

@media(min-width:850px) {
    .item-logo-txt {
        padding: 10px;
        left: 10vw;
    }
}

@media(min-width:900px) {
    .item-logo-txt {
        padding: 10px;
        font-size: 30px;
        left: 9vw;
    }
}

@media(min-width:950px) {
    .item-logo-txt {
        padding: 10px;
        left: 10vw;
    }
}

@media(min-width:1000px) {
    .item-logo-txt {
        padding: 10px;
        left: 12.5vw;
    }

    .item-title-txt {
        padding-top: 20px;

    }
}

@media(min-width:1000px) {
    .item-logo-txt {
        font-size: 35px;
        padding: 10px;
        left: 9vw;
    }

    .item-title-txt {
        padding-top: 20px;

    }
}

@media(min-width:1100px) {
    .item-logo-txt {
        padding: 10px;
        left: 11vw;
    }

    .item-title-txt {
        padding-top: 20px;

    }
}

@media(min-width:1200px) {
    .item-logo-txt {
        padding: 10px;
        left: 18vw;
    }

    .item-title-txt {
        padding-top: 20px;

    }
}